@model JavnaNabava.ViewModels.PonudeViewModel

@{
  ViewBag.Title = "Ponude";
}

<h2>Popis ponuda</h2>


<a asp-action="Create">Unos nove ponude</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
     class="float-right">
</pager>

<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      @{
        string[] nazivi = {"Natječaj", "Texst ponude", "Naslov Ponude" ,"Ponuditelj", "Dokumenti" };
        for (int i = 1; i <= nazivi.Length; i++)
        {
          <th>
            <a asp-route-sort="@i"
               asp-route-page="@Model.PagingInfo.CurrentPage"
               asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)">
              @nazivi[i - 1]
            </a>
          </th>
        }
      }
      <th></th>
      <th></th>
    </tr>
  </thead>
<tbody>
        @foreach (var ponuda in Model.Ponude)
        {
           <partial name="Row" model="ponuda" />
        }
    
  </tbody>
</table>

@section scripts {
  <script src="~/js/pager.js" asp-append-version="true"></script>
    <script>
        $(function () {
            SetDeleteAjax(".deleteajax", '@Url.Action("Delete")', 'kont');
        });
    </script>
}