@model JavnaNabava.ViewModels.TroškovniciViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Troškovnici</h2>
<h6>prikaz naziva iz roditeljske tablice, odabir vrijednosti vezanih podataka korištenjem padajuće liste, link na složeni pojedinačni prikaz</h6>
<a asp-action="Create">Unos novog troškovnika</a>

<pager page-info="@Model.PagingInfo" page-title="Unesite željenu stranicu"
       page-action="Index" class="float-right">

</pager>

<table class="table table-sm table-striped table-hover" id="tableTroškovnici">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">Id troškovnika</a>
            </th>
            <th>
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)"> Naziv natječaja</a>
            </th>
            <th>
                <div> Stavke</div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var troškovnik in Model.Troškovnici)
        {  
        <tr>
            <td class="text-left">
                <a asp-action="Show"
                   asp-route-id="@troškovnik.TroškovnikId"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending">
                    @troškovnik.TroškovnikId
                </a>
            </td>
            <partial name="Row" model="troškovnik" />
            <td class="text-left">
                @foreach (var stavka in troškovnik.Stavke)
                {
                    <div>@stavka.NazivStavke</div>
                }
            </td>
            <td class="btn-group">
                <a asp-action="Edit"
                   asp-route-id="@troškovnik.TroškovnikId"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-warning bt-sm " title="Ažuriraj">
                    <i class="fas fa-edit"></i>
                </a>

                <form asp-action="Delete" method="post"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                    
                    <input type="hidden" name="Id" value="@troškovnik.TroškovnikId" />

                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
    

    }
</tbody>

</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}

@section styles{

}

