@model TroškovnikViewModel
<div class="row text-center">
    <div class="col-sm-2">
        @if (ViewBag.Previous != null)
        {
            <a class="btn btn-sm btn-primary"
               asp-action="Show"
               asp-route-page="@ViewBag.Page"
               asp-route-sort="@ViewBag.Sort"
               asp-route-ascending="@ViewBag.Ascending"
               asp-route-id="@ViewBag.Previous">
                <i class="fas fa-step-backward"></i>
            </a>
        }
    </div>
    <div class="col-sm-8">
        <h4>
            @Model.TroškovnikId/@Model.NazivNatječaja
        </h4>
    </div>
    <div class="col-sm-2">
        @if (ViewBag.Next != null)
        {
            <a class="btn btn-sm btn-primary" asp-action="Show"
               asp-route-page="@ViewBag.Page"
               asp-route-sort="@ViewBag.Sort"
               asp-route-ascending="@ViewBag.Ascending"
               asp-route-id="@ViewBag.Next">
                <i class="fas fa-step-forward"></i>
            </a>
        }
    </div>
</div>