@model Konzorcij

@{
    ViewBag.Title = "Ažuriranje konzorcija";
}

<form asp-action="Edit" method="post" asp-route-page="@ViewBag.Page" asp-route-sort="@ViewBag.Sort" asp-route-ascending="@ViewBag.Ascending">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="NazivKonzorcij"></label>
        <div><span asp-validation-for="NazivKonzorcij" class="text-danger"></span></div>
        <input asp-for="NazivKonzorcij" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Ažuriraj</button>
        <a asp-action="Index" asp-route-page="@ViewBag.Page" asp-route-sort="@ViewBag.Sort" asp-route-ascending="@ViewBag.Ascending" class=" btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}