@using JavnaNabava.Models;

@model PovjerenstvaViewModel
@{
    ViewData["Title"] = "Povjerenstvo";
}
<h2>Popis povjerenstva</h2>

<a asp-action="Create">Unos novog povjerenstva</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right"></pager>

<table class="table table-sm table-striped table-hover" id="tablepovjerenstva">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Naziv povjerenstva
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Id povjerenstva
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Natječaj
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var povjerenstvo in Model.Povjerenstva)
        {
        <tr>
            <td class="text-center">@povjerenstvo.nazivPovjerenstva</td>
            <td class="text-center">@povjerenstvo.idPovjerenstva</td>
            <td class="text-center">@povjerenstvo.nazivNatječaja</td>

            <td class="btn-group">
                <a asp-action="Edit" asp-route-id="@povjerenstvo.idPovjerenstva" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-sort="@Model.PagingInfo.Sort" asp-route-ascending="@Model.PagingInfo.Ascending" class="btn bt-sm" title="Ažuriraj">
                    <i class="fas fa-edit"></i>
                </a>

                <form asp-action="Delete" method="post"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                    <input type="hidden" name="IdPovjerenstva" value="@povjerenstvo.idPovjerenstva" />
                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i> </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
