@model StavkaUTroškovnikuViewModel
@*<tr>*@

<td class="text-left">@Model.NazivStavke</td>
<td class="text-left">@Model.TroškovnikId</td>
<td class="text-left">@Model.TraženaKoličina</td>
<td class="text-left">@Model.NazivVrste</td>
<td class="text-left">@Model.DodatneInformacije</td>
@*<td>
        <a class="btn btn-sm edit"
           title="Ažuriraj"><i class="fas fa-edit"></i></a>
    </td>*@

@*</tr>*@
