@model ZapisnikViewModel
@{ 
    ViewBag.Title = "Zapisnik br. " + Model.ZapisnikId;
}

<div class="container">
    <div class="row text-center">
        <div class="col-sm-2">
            @if (ViewBag.Previous != null)
            {
                <a class="btn btn-sm btn-primary"
                   asp-action="Show"
                   asp-route-page="@ViewBag.Page"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-ascending="@ViewBag.Ascending"
                   asp-route-position="@(ViewBag.Position - 1)"
                   asp-route-id="@ViewBag.Previous">
                    <i class="fas fa-step-backward"></i>
                </a>
            }
        </div>
        <div class="col-sm-8">
            <h4>
                @Model.ZapisnikId - @Model.NazivZapisnik
            </h4>
        </div>
        <div class="col-sm-2">
            @if (ViewBag.Next != null)
            {
                <a class="btn btn-sm btn-primary" asp-action="Show"
                   asp-route-page="@ViewBag.Page"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-ascending="@ViewBag.Ascending"
                   asp-route-position="@(ViewBag.Position + 1)"
                   asp-route-id="@ViewBag.Next">
                    <i class="fas fa-step-forward"></i>
                </a>
            }
        </div>
    </div>

    @if (Model.IdPrethZapisnika != null)
    {
        <div class="row justify-content-sm-center">
            <div class="col-sm-2">
                Prethodni zapisnik:
            </div>
            <div class="col-sm-6">
                <a asp-action="Show" asp-route-id="@Model.IdPrethZapisnika" target="_blank">@Model.NazPrethodnogZapisnika</a>
            </div>
        </div>
    }

    <div class="row justify-content-sm-center">
        <div class="col-sm-2">
            Povjerenstvo: @Model.NazivPovjerenstva
        </div>
        <div class="col-sm-2">
            Ponuda: @Model.TextPonude
        </div>
        <div class="col-sm-1 text-right">
            <a asp-action="Edit"
               asp-route-id="@Model.ZapisnikId"
               target="_blank"
               class="btn btn-warning btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>
        </div>
        <form asp-action="Delete" method="post"
              asp-route-page="@ViewBag.Page"
              asp-route-sort="@ViewBag.Sort"
              asp-route-ascending="@ViewBag.Ascending">
            <input type="hidden" name="IdDokumenta" value="@Model.ZapisnikId" />
            <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
        </form>
        <div class="col-sm-1 text-left">
            <a class="btn btn-sm btn-primary cancel"
               asp-action="Index"
               asp-route-page="@ViewBag.Page"
               asp-route-sort="@ViewBag.Sort"
               asp-route-ascending="@ViewBag.Ascending"
               title="Povratak na popis zapisnika">
                <i class="fas fa-undo-alt"></i>
            </a>
        </div>
    </div>

</div>