@model JavnaNabava.ViewModels.VrsteStavkiViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Vrste stavki</h2>
<h6>
    Jednostavni tablični prikaz, straničenje i sortiranje na serverskoj strani,
    dodavanje novog podatka, ažuriranje jednostavnog podatka, brisanje podatka, potvrda prije brisanja podatka, validacija
</h6>

<a asp-action="Create">Unos nove vrste stavke</a>

<pager page-info="@Model.PagingInfo" page-title="Unesite željenu stranicu"
       page-action="Index" class="float-right">

</pager>

<table class="table table-sm table-striped table-hover" id="tableVrsteStavke">
    <thead>
        <tr>

            <th>
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)"> Naziv vrste stavke</a>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var vrstaStavke in Model.VrsteStavki)
        {
            <tr>
                <td class="text-left">@vrstaStavke.NazivVrste</td>
                <td class="btn-group">
                    <a asp-action="Edit"
                       asp-route-id="@vrstaStavke.IdVrste"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending"
                       class="btn bt-sm" title="Ažuriraj">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form asp-action="Delete" method="POST"
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="Id" value="@vrstaStavke.IdVrste" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>

        }
    </tbody>

</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}

@section styles{

}

